---
import Page from "../layouts/Page.astro";
import Card from "../layouts/Card.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./articles/*.{md,mdx}"))?.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const categoryColors: {
  [key: string]: string;
} = {
  Literature: "from-indigo-400 to-indigo-100",
  Philosophy: "from-amber-500 to-amber-200",
};
---

<Page title="Articles">
  <section class="pt-10">
    <ul>
      <div
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-6 p-8"
      >
        {
          posts.map((post) => (
            <a href={post.url} class="flex">
              <Card className="flex-col w-full p-4 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                <h2 class="text-gray-100 text-xl lg:text-2xl font-sans font-semibold">
                  {post.frontmatter.title}
                </h2>
                <p
                  class={`text-lg lg:text-xl font-sans font-bold bg-clip-text text-transparent bg-gradient-to-tr ${
                    categoryColors[post.frontmatter.category]
                  }`}
                >
                  {post.frontmatter.category}
                </p>
                <p class="text-gray-300 text-md lg:text-lg font-sans font-medium">
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}{" "}
                  • {post.frontmatter.length}
                </p>
                <p class="text-gray-200 text-md lg:text-lg font-sans font-normal">
                  {post.frontmatter.description}
                </p>
                {post.frontmatter.topics && (
                  <div class="flex flex-wrap">
                    {post.frontmatter.topics.map((topic: string) => (
                      <span class="text-gray-200 text-sm lg:text-md font-sans font-medium bg-emerald-600 bg-opacity-50 rounded-xl mt-2 mr-2 p-2">
                        {topic}
                      </span>
                    ))}
                  </div>
                )}
              </Card>
            </a>
          ))
        }
      </div>
    </ul>
  </section>
</Page>
