---
import {
  RiCodeSSlashFill,
  RiQuillPenLine,
  RiVoiceprintFill,
} from "react-icons/ri/index";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { BsChevronDoubleDown } from "react-icons/bs/index";
import Card from "../layouts/Card.astro";

const choiceList = [
  {
    index: 0,
    text: "build software",
    icon: "RiCodeSSlashFill",
    page: "code",
    className:
      "font-sans text-4xl sm:text-5xl font-bold bg-gradient-to-r from-red-400 to-amber-500 bg-clip-text text-transparent",
  },
  {
    index: 1,
    text: "make music",
    icon: "RiVoiceprintFill",
    page: "music",
    className:
      "font-sans text-4xl sm:text-5xl font-bold bg-gradient-to-r from-fuchsia-400 to-rose-500 bg-clip-text text-transparent",
  },
  {
    index: 2,
    text: "write",
    icon: "RiQuillPenLine",
    page: "articles",
    className:
      "font-sans text-4xl sm:text-5xl font-bold bg-gradient-to-r from-emerald-400 to-cyan-500 bg-clip-text text-transparent",
  },
];

const factCards = [
  {
    index: 0,
    title: "Job",
    description: "Data Architect",
    organization: "Capgemini",
  },
  {
    index: 1,
    title: "Education",
    description: "B.S. Mathematics",
    description2: "B.S. Data Science & Statistics",
    organization: "Miami University, OH",
  },
  {
    index: 2,
    title: "Location",
    description: "Atlanta, GA",
  },
  {
    index: 3,
    title: "Hobbies",
    description: "Coding, Music Production, Cooking, Writing, Movie Watching",
  },
  {
    index: 4,
    title: "Hometown",
    description: "New Delhi, India",
  },
];
---

<!doctype html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body class="flex flex-col justify-center items-center bg-zinc-950">
    <section
      class="flex flex-col items-center justify-center w-screen min-h-screen bg-gradient-to-b from-emerald-700 to-teal-950"
    >
      <div
        class="flex flex-col justify-start items-center space-y-2 max-w-md md:max-w-xl lg:max-w-2xl"
      >
        <div
          class="w-36 h-36 sm:w-44 sm:h-44 p-2 bg-gradient-to-b from-emerald-700 to-teal-950 rounded-full"
        >
          <img
            class="w-full h-full rounded-full"
            src="/images/profile.jpg"
            alt="Varun's profile picture"
          />
        </div>
        <h1
          class="font-sans text-5xl sm:text-6xl text-center font-bold text-white"
        >
          Hi, I'm Varun Vasudeva
        </h1>
      </div>
      <div class="mt-5">
        <div class="flex flex-col items-start">
          {
            choiceList.map((choice) => (
              <a
                class="flex flex-row w-full items-center justify-start space-x-2 hover:cursor-pointer hover:opacity-60"
                href={`/${choice.page}`}
              >
                <h1 class="font-sans font-bold text-4xl sm:text-5xl text-white">
                  I
                </h1>
                <div class="flex flex-row w-full items-center justify-between space-x-10">
                  <h1 class={choice.className}>{choice.text}</h1>
                  <div class="text-4xl sm:text-5xl text-white">
                    {choice.icon === "RiCodeSSlashFill" ? (
                      <RiCodeSSlashFill />
                    ) : choice.icon === "RiVoiceprintFill" ? (
                      <RiVoiceprintFill />
                    ) : (
                      <RiQuillPenLine />
                    )}
                  </div>
                </div>
              </a>
            ))
          }
        </div>
      </div>
      <div class="flex flex-col items-center absolute bottom-5">
        <h4 class="font-sans text-lg lg:text-xl mb-2 text-white">
          Scroll down to learn more
        </h4>
        <BsChevronDoubleDown
          className="text-2xl sm:text-3xl text-white animate-pulse"
        />
      </div>
    </section>

    <section
      class="flex flex-col items-center justify-center w-screen min-h-screen bg-gradient-to-b from-teal-950 to-sky-700"
    >
      <div class="flex flex-col items-center sm:items-start p-2">
        <h3 class="font-sans text-4xl sm:text-5xl m-4 font-bold text-white">
          Quick facts
        </h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 p-2">
          {
            factCards.map((card) => (
              <Card className="p-2 m-2 max-w-xs rounded-md">
                <div class="flex flex-col items-start justify-start w-full space-y-2">
                  <h4 class="font-sans font-semibold text-xl sm:text-2xl text-gray-200">
                    {card.title.toLowerCase()}
                  </h4>
                  <div
                    role="separator"
                    class="w-full h-px rounded-full bg-white opacity-50"
                  />
                  <p class="font-mono text-lg sm:text-xl text-gray-200">
                    {card.description}
                  </p>
                  {card.description2 && (
                    <p class="font-mono text-lg sm:text-xl text-gray-200">
                      {card.description2}
                    </p>
                  )}
                  <p class="font-mono font-bold text-lg sm:text-xl text-white">
                    {card.organization}
                  </p>
                </div>
              </Card>
            ))
          }
          <Card className="p-2 m-2 max-w-xs rounded-md">
            <div
              class="flex flex-col items-start justify-start w-full space-y-2"
            >
              <h4
                class="font-sans font-semibold text-xl sm:text-2xl text-gray-200"
              >
                languages
              </h4>
              <div
                role="separator"
                class="w-full h-px rounded-full bg-white opacity-50"
              >
              </div>
              <p class="font-mono text-lg sm:text-xl text-white">
                English <span class="italic text-gray-400"> fluent</span>
              </p>
              <p class="font-mono text-lg sm:text-xl text-white">
                Hindi <span class="italic text-gray-400"> fluent</span>
              </p>
              <p class="font-mono text-lg sm:text-xl text-white">
                Arabic <span class="italic text-gray-400"> elementary</span>
              </p>
              <p class="font-mono text-lg sm:text-xl text-white">
                French <span class="italic text-gray-400"> elementary</span>
              </p>
            </div>
          </Card>
        </div>
      </div>
    </section>

    <section
      class="flex flex-col items-center w-screen min-h-screen bg-gradient-to-b from-sky-700 to-violet-950"
    >
      <div class="flex flex-col w-screen lg:w-3/4 2xl:w-1/2">
        <div
          class="flex flex-col self-start justify-start items-start p-4 md:p-8 lg:p-10 max-w-xl"
        >
          <h3 class="font-sans text-4xl sm:text-5xl font-bold text-gray-300">
            Who are you?
          </h3>
          <p class="text-lg sm:text-xl font-light text-white mt-4">
            A 23 year old data architect by profession and software
            engineer/musician by hobby.
            <br />
            <br />
             At my core, I enjoy building things that are useful and beautiful.
            I aim to create things that genuinely better peoples' lives -
            whether that be through software, music, or writing.
          </p>
        </div>

        <div
          class="flex flex-col self-end justify-end items-start p-4 md:p-8 lg:p-10 max-w-xl"
        >
          <h3 class="font-sans text-4xl sm:text-5xl font-bold text-gray-300">
            What's your story?
          </h3>
          <p class="text-lg sm:text-xl font-light text-white mt-4">
            I was born in New Delhi, India and moved to the United States when I
            was 18 years old, where I moved to study and currently live.
            <br />
            <br />
             I graduated from Miami University in 2022 with a B.S. in
            Mathematics and a B.S. in Data Science & Statistics. My education
            was dynamic: math taught me abstract problem-solving skills, while
            data science made me a better programmer and statistician.
            <br />
            <br />
             In my free time, I enjoy making music, writing, and cooking. I also
            enjoy watching movies and TV shows, and I'm always looking for
            recommendations! Some of my favorite movies are Interstellar,
            Everything Everywhere All At Once, Inglorious Basterds, Silence of
            the Lambs, Raazi, and Gully Boy.
          </p>
        </div>

        <div
          class="flex flex-col self-start justify-start items-start p-4 md:p-8 lg:p-10 max-w-xl"
        >
          <h3 class="font-sans text-4xl sm:text-5xl font-bold text-gray-300">
            What are you doing now?
          </h3>
          <p class="text-lg sm:text-xl font-light text-white mt-4">
            I currently work as a data architect at Capgemini, where I help
            clients gain insight from large amounts of data by developing data
            pipelines and data visualizations. I frequently use Power BI, Power
            Automate, and the Azure cloud platform to develop solutions.
            <br />
            <br />
             I also enjoy working on personal projects on the side - my latest
            project is an open-source tool that allows developers to easily get
            started with new projects by getting name, slogan, execution plan,
            and tech stack recommendations with a single click.
          </p>
        </div>
      </div>
    </section>

    <section
      class="bg-gradient-to-b w-screen h-64 from-violet-950 to-amber-800 flex flex-col justify-end"
    >
      <Footer />
    </section>
  </body>
</html>
