---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title } = Astro.props;
const { pathname } = Astro.url;
const background =
  title === "Home"
    ? "transparent"
    : title === "Code"
    ? "from-red-900 to-amber-700"
    : title === "Music"
    ? "from-fuchsia-900 to-rose-700"
    : title === "Articles"
    ? "from-emerald-900 to-cyan-700"
    : "transparent";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-950">
    <NavBar client:load activePage={pathname} />
    <main
      class={`bg-gradient-to-br ${background} w-full min-h-screen z-0 pt-20`}
    >
      <h1 class="text-5xl md:text-6xl font-bold text-white pt-4 px-4">
        {title}
      </h1>
      <slot />
      <Footer />
    </main>
  </body>
</html>
