---
title: "Project";
description: "A project card, used to display a software engineering/data science project on the /code page.";

import Button from "../components/Button";
import Card from "./Card.astro";

export interface Props {
  title: string;
  description: string;
  link?: string;
  linkText?: string;
  buttonLink?: string;
  buttonLinkText?: string;
  image?: string;
}

const {
  title,
  description,
  link,
  linkText,
  buttonLink,
  buttonLinkText,
  image,
} = Astro.props as Props;
---

<Card className="flex-col items-start justify-center p-2 lg:p-3">
  {
    image && (
      <img
        class="object-cover w-full h-64 lg:h-72"
        src={image}
        alt={title + ": " + description}
      />
    )
  }
  <span class="m-5">
    <span class="flex-row flex items-baseline space-x-2">
      <h1 class="font-sans text-xl sm:text-2xl font-bold text-stone-900">
        {title}
      </h1>
      {
        link && (
          <a class="text-orange-700 text-base font-mono" href={link}>
            {linkText || "View on GitHub"}
          </a>
        )
      }
    </span>
    <p class="font-sans text-base sm:text-lg text-stone-700">{description}</p>
    {
      buttonLink && (
        <Button href={buttonLink} className="bg-orange-800 mt-2 justify-center">
          <p class="text-white font-mono text-base text-center">
            {buttonLinkText || "Learn More"}
          </p>
        </Button>
      )
    }
  </span>
</Card>
